{% extends "base.html" %}

{% block content %}
<div class="column is-6 is-offset-3">
    <h3 class="title">Регистрация</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0][1:] }}.
                {% if messages[0][0] == '0' %}
                     Перейти на <a href="{{ url_for('auth.login') }}">страницу входа</a>.
                {% endif %}
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/signup">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="Почта" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Пароль">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="number" name="family_size" placeholder="Количество членов семьи" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="number" name="pets_count" placeholder="Количество домашних животных" autofocus="">
                </div>
            </div>

            <button class="button is-block is-info is-large is-fullwidth">Регистрация</button>
        </form>
    </div>
</div>
{% endblock %}