{% extends "base.html" %}

{% block content %}
<div class="column is-8 is-offset-2">
    <h3 class="title">Калькулятор вкладов</h3>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="notification is-warning">
            {{ messages[0] }}.
        </div>
    {% endif %}
    {% endwith %}
    <div class="box">
        <form method="POST" action="/credit">

            <div class="columns is-mobile">
                <div class="column is-4 field-label is-normal" style="margin-top: 12px">
                    <label class="label">Сумма вклада </label>
                </div>
                <div class="column is-5 field-body">
                    <div class="field">
                        <div class="control">
                            <input id="summ" onchange="func()" class="input" type="number" name="summ" autofocus="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="columns is-mobile">
                <div class="column is-4 field-label is-normal" style="margin-top: 12px">
                    <label class="label">Процентная ставка </label>
                </div>
                <div class="column is-5 field-body">
                    <div class="field">
                        <div class="control">
                            <input id="percent" onchange="func()" class="input" type="number" name="percent" autofocus="">
                        </div>
                    </div>
                </div>
                <div class="is-normal" style="margin-top: 18px">
                    <label class="label">%</label>
                </div>
            </div>

            <div class="columns is-mobile">
                <div class="column is-4 field-label is-normal" style="margin-top: 12px">
                    <label class="label">Срок </label>
                </div>
                <div class="column is-5 field-body">
                    <div class="field">
                        <div class="control">
                            <input id="mounth" onchange="func()" class="input" type="number" name="mounth" autofocus="">
                        </div>
                    </div>
                </div>
                <div class="is-normal" style="margin-top: 18px">
                    <label class="label"> месяцев</label>
                </div>
            </div>

            <div class="columns is-mobile">
                <div class="column is-4 field-label is-normal">
                        <label class="label">Наличие капитализации </label>
                </div>
                <div class="column is-5 field is-horizontal">
                    <label class="radio">
                        <input type="radio" onchange="func()" name="cap" value="1">
                        Да
                    </label>
                    <label class="radio">
                        <input type="radio" onchange="func()" name="cap" value="0" checked>
                        Нет
                    </label>
                </div>
            </div>

            <div class="columns is-mobile">
                <div class="column is-4 field-label is-normal" style="margin-top: 12px">
                    <label class="label">Раз в </label>
                </div>
                <div class="column is-5 field-body">
                    <div class="field">
                        <div class="control">
                            <input id="cap_rate" onchange="func()" class="input" type="number" name="cap_rate" autofocus="">
                        </div>
                    </div>
                </div>
                <div class="is-normal" style="margin-top: 18px">
                    <label class="label"> месяца</label>
                </div>
            </div>

        </form>
    </div>
    <div id="result" class="notification is-primary is-light"></div>
</div>

<script type="text/javascript">
    function func() {
        var result;

        var summ = Number(document.getElementById("summ").value);
        var mounth = Number(document.getElementById("mounth").value);
        var percent = Number(document.getElementById("percent").value);
        var cap = Number(document.getElementById("cap_rate").value);

        if (document.querySelector('input[name="cap"]:checked').value == "0") {
            percent = percent / 1200;
            result = summ * (1 + percent * mounth)
            if (summ > 0 && mounth > 0 && percent > 0) {
                document.getElementById("result").innerHTML = "Сумма вклада с процентами: " + String(result.toFixed(2))
                + " руб.<br/>Начисленные проценты: " + String((result - summ).toFixed(2))
            }
        }
        else {
            percent = percent / 1200 * cap;
            var caps = mounth/cap
            result = summ * (1 + percent) ** caps
            if (summ > 0 && mounth > 0 && percent > 0 && cap > 0) {
                document.getElementById("result").innerHTML = "Сумма вклада с процентами: " + String(result.toFixed(2))
                + " руб.<br/>Начисленные проценты: " + String((result - summ).toFixed(2))
            }
        }

    }
</script>

{% endblock %}